# 1page

In [ ]:
print('I said "Hello" to you')
print("Let's go.")

I said "Hello" to you
Let's go.

In [ ]:
s1=int(input("삼각형의 밑변 길이 : "))
h=int(input("삼각형의 높이 : "))
s=(s1*h)/2
print(s)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
15.0

In [ ]:
h=int(input("현재 시 : "))
m=int(input("현재 분: "))
m=m+20;
h=(h+m//60)
m=m%60
print("20분 뒤에는 %d시 %d분 입니다"%(h,m))

현재 시 : 3
현재 분: 54
20분 뒤에는 4시 14분 입니다

In [ ]:
n=int(input("숫자 입력 : "))
if(n<0):
  n=abs(n)
print(n)

숫자 입력 : -20
20

In [ ]:
id=input("아이디를 입력하세요: ")
le=int(input("회원 레벨을 입력하세요.: "))
if(id=="admin")|(le==1):
  print("관리자입니다.")
else:
  print("관리자가 압니다.")

아이디를 입력하세요: happy
회원 레벨을 입력하세요.: 1
관리자입니다.

In [ ]:
max=0
for i in range(1,4):
  i=int(input("첫 번째 수: "))
  if(max<i):
    max=i
print("가장 큰 수는 %d 입니다"%(max))

첫 번째 수: 2
첫 번째 수: 4
첫 번째 수: 3
가장 큰 수는 4 입니다

In [ ]:
age=int(input("나이 입력: "))
if(0<=age<=7):
  print("어린이")
elif(8<=age<=13):
  print("초등학생")
elif(14<=age<=16):
  print("중학생")
elif(17<=age<=19):
  print("고등학생")
else:
  print("성인")

나이 입력: 23
성인

In [ ]:
a=int(input("점수 입력: "))
if(90<=a):
  print("A등급")
elif(80<=a<90):
  print("B등급")
elif(70<=a<80):
  print("C등급")
elif(a<70):
  print("F등급")

점수 입력: 213
A등급

In [ ]:
n=int(input("숫자 입력: "))
if(n%3==0):
  if(n%5==0):
    print("3과 5의 공배수")
if(n%3==0):
  print("3의 배수")
else:
  print("3의 배수 아님")

숫자 입력: 5
3의 배수 아님

In [ ]:
for i in range(1,21):
  if(i%2!=0):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
sum=0
for num in range(1,11):
  sum=sum+num
  print("num의 값 : %d  =>합계 : %d"%(num,sum))

num의 값 : 1  =>합계 : 1
num의 값 : 2  =>합계 : 3
num의 값 : 3  =>합계 : 6
num의 값 : 4  =>합계 : 10
num의 값 : 5  =>합계 : 15
num의 값 : 6  =>합계 : 21
num의 값 : 7  =>합계 : 28
num의 값 : 8  =>합계 : 36
num의 값 : 9  =>합계 : 45
num의 값 : 10  =>합계 : 55

In [ ]:
num=int(input("숫자 입력: "))
fac=1
for i in range(1,num+1):
  fac=fac*i
print("%d! = %d"%(num,fac))

숫자 입력: 10
10! = 3628800

In [ ]:
import random
cnt=0
guess=random.randrange(1,101)
print("정답: %d"%(guess))
print("1부터 100 사이의 숫자를 맞히기")
while(guess!=answer):
  answer=int(input("숫자를 맞혀 보세요 : "))
  if answer>guess:
    print("낮음")
  elif answer<guess:
    print("높음")
  cnt+=1;
if(answer==guess):
  print("축하합니다. 시도횟수 = %d"%(cnt))

정답: 58
1부터 100 사이의 숫자를 맞히기
숫자를 맞혀 보세요 : 58
축하합니다. 시도횟수 = 1

In [ ]:
for i in range(10,51):
  if(i%3!=0):
    print(i,end=" ")

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
import random
print("주사위 게임을 시작합니다")
print("주사위를 던졌습니다.")
me=random.randrange(1,6)
you=random.randrange(1,6)
print("나 : %d"%(me))
print("당신 : %d"%(you))
if me>you:
  print("나의 승리!")
elif you<me:
  print("당신의 승리")
else:
  print("무승부")
again=input("계속하려면 y를 입력하세요! ")
if(again=='y'):
    print("주사위를 던졌습니다.")
me=random.randrange(1,6)
you=random.randrange(1,6)
print("나 : %d"%(me))
print("당신 : %d"%(you))
if me>you:
  print("나의 승리!")
elif you<me:
  print("당신의 승리")
else:
  print("무승부")
again=input("계속하려면 y를 입력하세요! ")

주사위 게임을 시작합니다
주사위를 던졌습니다.
나 : 5
당신 : 5
무승부
계속하려면 y를 입력하세요! y
주사위를 던졌습니다.
나 : 4
당신 : 2
나의 승리!
계속하려면 y를 입력하세요! n

In [ ]:
n=int(input("숫자 입력: "))
i=00
while(n!=0):
  print(n%10,end='')
  n=n//10

숫자 입력: 32435
53423

In [ ]:
for i in range(1,10):
  print("2 x %d =  %d"%(i,i*2))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18

In [ ]:
for i in range(9,0,-1):
  print("2 x %d =  %d"%(i,i*2))

2 x 9 =  18
2 x 8 =  16
2 x 7 =  14
2 x 6 =  12
2 x 5 =  10
2 x 4 =  8
2 x 3 =  6
2 x 2 =  4
2 x 1 =  2

In [ ]:
max_p=0
max_a=0
for i in range(1,51):
  if max_p<i*(100-i):
    max_p=i*(100-i)
    max_a=i
print(max_a,"*",100-max_a,"의 최대값은",max_p,"입니다.")

50 * 50 의 최대값은 2500 입니다.

In [ ]:
num = int(input("정수를 입력하시오: "))

for i in range(1, num+1):
    if num % i == 0:
        print(i, end=' ')
print()

수? 23
1 23

In [ ]:
cnt=0
for i in range(1,100):
  if i%4==0:
    print(i)
    cnt+=1;
  if cnt%7==0:
    print()