1.입력과 출력

page 1

In [6]:
print(3+4)

7

In [8]:
value=1234
print(value)
print(value+100)

1234
1334

In [9]:
print(3+4)
a=1
b=2
print(a+b)

7
3

In [11]:
a='강아지'
b='고양이'
print(a) 
print(b)

강아지
고양이

In [14]:
print('*       *')
print(' *     * ')
print('  *   *  ')
print('   * *   ')
print('    *    ')

*       *
 *     *
  *   *
   * *
    *

In [15]:
a='강아지'
b='고양이'
print(a,end='')
print(b)

강아지고양이

In [16]:
print(34,end='^^')
print(78)

34^^78

In [17]:
a=12
b=34
print(a,b)

12 34

# page 2

In [19]:
a=12
b=34
print(a,b,sep=',')

12,34

In [23]:
s='서울'
d='대전'
g='대구'
b='부산'
print(s,d,g,b,sep=' 찍고 ',end=' 찍고 ')

서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [24]:
print(12,34,56,sep='^^',end='-->')
print(78)

12^^34^^56-->78

In [29]:
a=13
b=21
print(a,b)
print(a+b)
print(a,b,sep='')
print(a,b,end='')

13 21
34
1321
13 21

In [32]:
age =input('몇 살이세요? ')
print(age)

몇 살이세요? 34
34

In [35]:
name=input('이름을 입력하세요: ')
print('안녕하세요 ',name,end=' 님!')

이름을 입력하세요: 윤아
안녕하세요  윤아 님!

In [37]:
first=input('첫 번째 과일 입력: ')
second=input('두 번째 과일 입력: ')
print(first, ' 와(과) ', second, ' 은(는) ','내가 좋아하는 과일이다')

첫 번째 과일 입력: 사과
두 번째 과일 입력: 수박
사과  와(과)  수박  은(는)  내가 좋아하는 과일이다

In [39]:
year=input('몇 년도? ')
month=input('몇 월? ')
day=input('몇 일? ')
print(year,month,day,sep=' . ')

몇 년도? 2021
몇 월? 12
몇 일? 25
2021 . 12 . 25

In [40]:
age=input('몇 살이세요? ')
print(age + age)

몇 살이세요? 34
3434

# page 3*이탤릭체 텍스트*

In [41]:
age = input('몇 살이세요?')
age = int(age)
print(age +age)

몇 살이세요?34
68

In [44]:
price=int(input('가격을 입력하세요 : '))
num = int(input('개수를 입력하세요 : '))
sum = price * num
print('총액은',sum,'원입니다.')

가격을 입력하세요 : 18000
개수를 입력하세요 : 3
총액은 54000 원입니다.

In [45]:
width=int(input('사각형의 가로: '))
length=int(input('사각형의 세로: '))
space=width*length
print('사각형의 면적은 ',space,'입니다.')

사각형의 가로: 5
사각형의 세로: 4
사각형의 면적은  20  입니다.

In [46]:
name=input('이름? ')
bornyear=int(input('태어난 해는? '))
age=2023-bornyear+1
print(name,' 님의 나이는 ',age,'세 입니다.')

이름? 정수
태어난 해는? 2006
정수  님의 나이는  18 세 입니다.

# page 4

In [47]:
print( type('안녕하세요'))
print( type(273))
print( type(3.141592))

<class 'str'>
<class 'int'>
<class 'float'>

In [48]:
score =100
print(score)
print(type(score))

100
<class 'int'>

In [49]:
score='high'
print(score)
print(type(score))

high
<class 'str'>

# page 5

In [50]:
num=123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [51]:
num=-20909
print(num)
print(type(num))

-20909
<class 'int'>

In [52]:
a=1.5
b=-3.5
print(a,b)
print(type(a),type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [53]:
x=3.3764
y=6/2
print(x,y)
print(type(x),type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [54]:
a="Korea 서울 1234"
print(a)
print(type(a))

Korea 서울 1234
<class 'str'>

In [55]:
b='30'
print(b)
print(type(b))

30
<class 'str'>

In [56]:
a=5
b=a==5
print(b)

True

In [58]:
if a==5:
  print("a는5")

a는5

# page 6

In [59]:
a=input('첫번째숫자를 입력하세요: ')
b=input('두번째숫자를 입력하세요: ')
c=a+b
print(c)

첫번째숫자를 입력하세요: 12
두번째숫자를 입력하세요:
12

In [62]:
inch=float(input('인치를 입력하세요 '))
cm=inch*2.54
print('센티미터: ',cm)

인치를 입력하세요 3.5
센티미터:  8.89

In [79]:
r=int(input("반지름은? "))
round=r*2*3.14
space=r*r*3.14

print(f"반지름이 {r}인 원의 둘레는 {round:.2f}이고 면적은 {space}이다.")
print("반지름이 %d인 원의 둘레는 %.1f이고 면적은 %.1f 이다."%(r,round,space))

반지름은? 5
반지름이 5인 원의 둘레는 31.40이고 면적은 78.5이다.
반지름이 5인 원의 둘레는 31.4이고 면적은 78.5 이다.

In [78]:
length=int(input("현재 키는? : "))
purpose=int(input("5개월 후의 목표 키는? "))
avg=float((purpose-length)/5)
print('한달에 ',avg,'cm씩 성장해 보세요!')

현재 키는? : 160
5개월 후의 목표 키는? 168
한달에  1.6 cm씩 성장해 보세요!

In [82]:
book=int(input('책 값 : '))
discount=float(input('할인율(%) : '))
delivery=int(input('배송비 : '))
price=book-(book*discount/100)+delivery
print("결제하실 금액은 %.1f 원 입니다"%(price))

책 값 : 3000
할인율(%) : 20
배송비 : 3000
결제하실 금액은 5400.0 원 입니다

In [83]:
a=int(input('첫 번째 과목 : '))
b=int(input('두 번째 과목 : '))
sum=a+b
avg=float((a+b)/2)
print("합계: %d,평균: %0.1f"%(sum,avg))

첫 번째 과목 : 80
두 번째 과목 : 96
합계: 176,평균: 88.0

In [84]:
length=int(input('삼각형의 밑변 길이  : '))
high=int(input('삼각형의 높이 : '))
space=float((length*high)/2)
print('삼각형의 면적 : ',space)

삼각형의 밑변 길이  : 15
삼각형의 높이 : 2
삼각형의 면적 :  15.0

In [86]:
kg=float(input('킬로그램(kg) 입력 : '))
found=float(kg*2.2046)
print("%.1f은 %.4f 파운드입니다."%(kg,found))

킬로그램(kg) 입력 : 30.5
30.5은 67.2403 파운드입니다.

# page 7

In [87]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5**2)
print(5//2)
print(5%2)

7
3
10
2.5
25
2
1

In [88]:
x=10%3
print(x)
y=7/3
print(y)

1
2.3333333333333335

In [90]:
a=10%3
b=20
c=a+b*10-5/5
print(c)

200.0

In [91]:
x=2**3
print(x)


y=10**4
print(y)

8
10000

In [92]:
hello = '안녕'*5
print(hello)

안녕안녕안녕안녕안녕

In [93]:
s1='대한민국'
s2='만세'
print(s1+s2)
print(s1*5)

대한민국만세
대한민국대한민국대한민국대한민국대한민국

In [95]:
print("korea"+str(2021))
print(10+int("22"))
print(10+int(22.5))
print(10+int(float(22.5)))
print("korea"+2021)

korea2021
32
32
32

TypeError: ignored

# page 8

In [96]:
x=10
x+=20
print(x)

30

In [97]:
a=5
a=a+1
print(a)

a=5
a+=1
print(a)

a-=5
print(a)

a*=2
print(a)

6
6
1
2

In [98]:
x=3
y=5
x*=x+y
print(x)

24