In [ ]:
#p28_39
numbers=[[10,20,30],[40,50,60]]
numbers

[[10, 20, 30], [40, 50, 60]]

In [ ]:
print(numbers[0])
print(numbers[1])

[10, 20, 30]
[40, 50, 60]

In [ ]:
print(numbers[0][1])
print(numbers[1][0])

20
40

In [ ]:
#40,41
numbers=[[10,20,30],[40,50,60,70,80]]
for sub in numbers:
  for s in sub:
    print(s,end=' ')
  print( )

10 20 30
40 50 60 70 80

In [ ]:
#42
data=[[10,20],[30,40],[50,60],[70,80]]

for i in range(len(data)):
  for j in range(len(data[i])):
    print("data[%d][%d] = %d"%(i,j,data[i][j]))

data[0][0] = 10
data[0][1] = 20
data[1][0] = 30
data[1][1] = 40
data[2][0] = 50
data[2][1] = 60
data[3][0] = 70
data[3][1] = 80

In [ ]:
#43
string=[["원두커피","라떼","콜라"],["우동","국수","피자","파스타"]]

for i in range(len(string)):
  for j in range(len(string[i])):
    print("%s"%string[i][j],end=' ')
  print( )

원두커피 라떼 콜라
우동 국수 피자 파스타

In [31]:
#44
data=[[10,20,30],[40,50],[60,70,80,90]]
print(data)
for i in range(len(data)):
  print("%d"%data[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [54]:
#45
score=[[88,76,92,98],[65,70,58,82],[82,80,78,88]]
total = 0
totalsub=0
for stu in score:
  sum=0
  for s in stu:
    sum+=s
  subjects=len(stu)
  print("총점 : ",sum, "평균 : ",sum/subjects)
  total+=sum
  totalsub+=subjects
print("전체 평균 : ",total/totalsub)

총점 :  354 평균 :  88.5
총점 :  275 평균 :  68.75
총점 :  328 평균 :  82.0
전체 평균 :  79.75

In [37]:
#46
seats=[[0,0,0,0,0,0,0,0,0,0],\
       [0,0,0,0,0,0,0,0,0,0],\
       [0,0,0,0,0,0,0,0,0,0],\
       [1,1,1,0,0,0,0,0,1,0],\
       [0,0,0,0,0,1,0,0,0,0],\
       [0,1,0,0,0,1,0,1,0,0],\
       [0,0,0,0,0,0,1,0,0,0],\
       [1,0,1,0,0,0,0,0,0,0]]

for i in range(len(seats)):
  for j in range(len(seats[i])):
    if seats[i][j]==0:
      print('%3s'%'□',end='')
    else:
      print('%3s'%'■',end='')
  print()

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  □

In [65]:
#47
scores=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[83,86,79],[85,90,83]]
i=0
while i < len(scores):
  sum=0
  j=0
  while j<len(scores[i]):
    sum+=scores[i][j]
    j+=1
  avg=sum/len(scores[i])
  print("%d번째 학생의 합계 : %d, 평균 : %.2f"%(i+1,sum,avg))
  i+=1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 248, 평균 : 82.67
6번째 학생의 합계 : 258, 평균 : 86.00

In [68]:
#48
scores=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[83,86,79],[85,90,83]]
i=0
for i in range(len(scores)):
  sum=0
  for j in range(len(scores[i])):
    sum+=scores[i][j]
  avg=sum/len(scores[i])
  print("%d번째 학생의 합계 : %d, 평균 : %.2f"%(i+1,sum,avg))

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 248, 평균 : 82.67
6번째 학생의 합계 : 258, 평균 : 86.00

In [45]:
for i in range(10):
  print(i,end=' ')

0123456789

In [46]:
num=[]
for i in range(10):
  num.append(i)
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
#50
even1=[i for i in range(100) if i%2==0]
even2=[i*2 for i in range(0,51)]
even3=[i for i in range(0,100,2)]
print(even1)
print(even2)
print(even3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [76]:
#51
li=[]
for n in range(1,10):
  if n%3==0:
    li.append(n*n)
print(li)

[9, 36, 81]

In [82]:
#52
numbers=[1,2,3,4,5]
result=[]
result=[n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

In [87]:
#ex1
v=[17,92,18,33,58,7,33,42]
max=v[0]

for i in range(len(v)):
  if v[i]>max:
    max=v[i]
print("최대값 = ",max)

최대값 =  92

In [89]:
#ex2
for i in [1,2,3]:
  for j in ['a','b','c']:
    print(i*j,end=' ')

a b c aa bb cc aaa bbb ccc

In [90]:
#ex3
list_a=["i","study","python","language","!"]
for i in list_a:
  if len(i)>3:
    print(i)

study
python
language