In [61]:
dan=2
while(dan<10):
  hang=1
  print(dan,"단")
  while(hang<10):
    print(dan,"*",hang,"=",dan*hang)
    hang+=1
  dan+=1
  print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [62]:
for y in range(1,6):
  for x in range(0,y):
    print("*",end="")
  print()

*
**
***
****
*****

In [63]:
for i in range(0,8):
  for j in range(7):
    if(i==j) |(i+j==6):
      print("*", end='')
    else:
      print(' ',end='')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [73]:
cnt=0
n=int(input('수 입력 : '))
for i in range(2,n+1):
  pn=1
  for j in range(2,i):
    if i%j==0:
      pn=0
      break
  if pn==1:
    print('{:>5}'.format(i),sep=" ",end=" ")
    cnt+=1
    if cnt%5==0:
      print()

수 입력 : 50
    2     3     5     7    11
   13    17    19    23    29
   31    37    41    43    47